<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.AppiumUtils.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="All Test">
		<classes>
			<class name="APIDemos.AD_TC005" />
			<class name="APIDemos.AD_TC004" />
			<class name="APIDemos.AD_TC003" />
			<class name="APIDemos.AD_TC002" />
			<class name="APIDemos.AD_TC001" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
